@charset "utf-8";
* {
  box-sizing: border-box;
}
main{
  max-width: 1030px;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
}
section{
  width: 100%;
  margin-top: 45px; 
}
section h2{
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
}
.sub_menu{
  display: flex;
  justify-content: space-between;
}
.sub_menu li {
  width: 314px;
  height: 57px;
  line-height: 52px;
  padding-left: 30px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
  cursor: pointer;
  border: 2px solid transparent; /* ✨ border 공간 미리 확보 */
  box-sizing: border-box;         /* ✨ border가 height에 영향 X */
  transition: border 0.2s ease;   /* 부드러운 전환 효과 (선택) */
}
.on {
  border-color: #000 !important;             /* 클릭 시 검은색 선 표시 */
  border-radius: 10px;
}
.sub_menu li:nth-child(1){
  background-image: url(../images/regulation/bike-tab2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sub_menu li:nth-child(2){
  background-image: url(../images/regulation/bike-tab1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sub_menu li:nth-child(3){
  background-image: url(../images/regulation/bike-tab3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#use_info{
  width: 100%;
  margin: 0 auto;
}
#use_info ul{
  margin-bottom: 30px;
}
#use_info li{
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 0.9375rem;
  font-weight: 600;
  border-bottom: 1px solid #cccccc;
  /* 포지션 위치기준값 */
  position: relative;
}
#use_info p{
  color: #fe4f6c;
  font-size: 0.75rem;
  
}
#use_info p:nth-child(2){
  margin-bottom: 30px;
}
#use_info p:nth-child(3){
  margin-bottom: 85px;
}
#use_info li::after{
  content: "+";
  color: #8b96a0;
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}
#use_info li:active li::after{
  content: "-";
  color: #8b96a0;
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

/* map_info */
.map_info{
  width: 100% !important;
  height: 400px !important;
  margin-bottom: 20px !important;
}


/* 요금안내 탭 */
#price{
  width: 1030px;
  margin-bottom: 50px;
}
#price>div:first-child{
  border: 1px solid #cccccc;
  line-height: 1.7;
  margin-bottom: 20px;
}
#price>div:first-child ul{
  padding: 20px 45px;
  font-size: 0.85rem;
}
#price>div:first-child>ul>li>span{
  color: blue;
  font-weight: bold;
}
#price h3{
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 20px;
}
#price table, th, td, tr{
  padding-left: 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
  border-collapse: collapse;
}
#price table{
  width: 100%;
  line-height: 1.5;
  margin-bottom: 20px;
}
th{
  text-align: center;
}
td, th{
  height:50px;
}
thead tr:nth-child(1) th{
  font-weight: bold;
  border-top: 2px solid #000 !important;
}
thead tr:nth-child(3) th{
  height: 150px;
}
tbody{
  color: #555;
}
tbody td{
  font-size: 0.875rem;
}
.precautionary td{
  font-size: 0.75rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.precautionary th{
  text-align-last: left;
  margin-left: 10px;
  width: 100px;
}
.precautionary tr:nth-child(1) th,
.precautionary tr:nth-child(1) td{
  font-weight: bold;
  border-top: 2px solid #000 !important;
}

#use_info, #map, #price {
  display: none;
}
#map {
  display: block;
}

thead, tbody{
  border-left: 0px solid #000;
}














